.navbar-brand {
    font-family: 'CustomFont';
    font-size: 20px;
}

.nav-link span {
    position: relative;
    display: inline-block;
}

.nav-link span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #11c26d;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in-out;
}

.nav-link span:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


#first-body {
    background-color: #3bb278;
}

#outer-form-container {
    align-content: center;

}

#outer-form-container-left {
    align-content: center;
}

#inner-form {
    margin-bottom: 10px;
    width: 95%;
}

#log-in-form {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;

}

#form-button {
    width: 100%;
}

.form-control:focus {
    border-color: #3bb278;
    box-shadow: 0 0 0 .25rem rgb(161, 216, 190);
}

.signup {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    margin-left: 5px;
}

.robot-png {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.robot-container {
    position: absolute;
    width: 30%;
}

.introduction {
    text-align: left;
    padding: 10px;
    color: #ffffff;
    margin: auto;
    width: 80%;


}

.main-title-cyber {
    font-family: 'CustomFont';
    font-size: 100px;
}

.main-title-task {
    font-family: 'CustomFont';
    font-size: 100px;
}

#main-title-container {
    width: 100%;
}

.catchy-line h3 {
    overflow: hidden;
    border-right: .15em solid rgb(60, 192, 240);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0em;
    animation:
    typing 3.5s steps(40, end),
    blink-caret .65s step-end infinite;
}

.catchy-line-container {
    width: 75%;
}

.Or-divider {
    width: 100%;
    text-align: center;
    color: #969696;
    border-bottom: 1px solid #969696;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.Or-divider span {
    background-color: #f8f8f8;
    padding: 0 10px;
}

.terms {
    color: #969696;
}

.terms-link {
    color: #535353;
}

.row {
    --bs-gutter-x: 0;
}

/*MEDIA SCREEN BREAKPOINTS FOR FLEXIBILITY*/
@media screen and (max-width: 540px) {
    .robot-container {
        width: 60%;
        margin: auto;
        position: static;
    }

    .introduction {
        text-align: left;
        padding: 10px;
        color: #ffffff;
        margin: auto;
        width: 90%;
    }

    #main-title-container {
        width: 100%;

    }

    #task-title {
        margin-bottom: 10px;
        text-align: right;

    }

    .main-title-task {
        font-family: 'CustomFont';
        font-size: 100px;
        text-align: right;

    }

    .main-title-cyber {
        font-family: 'CustomFont';
        font-size: 100px;
        height: 80px;
    }
}

@media screen and (min-width: 768px) {
    .robot-container {
        width: 30%;
        margin: auto;
        position: absolute;
    }

    #main-title-container {
        width: 115%;

    }

    .main-title-cyber {
        font-family: 'CustomFont';
        font-size: 80px;

    }

    .main-title-task {
        font-family: 'CustomFont';
        font-size: 80px;
    }
}

@media screen and (min-width: 1024px) {
    .robot-container {
        width: 30%;
        margin: auto;
        position: absolute;
    }

    #main-title-container {
        width: 90%;

    }
}

@media screen and (min-width: 1280px) {
    .robot-container {
        width: 30%;
        margin: auto;
        position: absolute;
    }

    #main-title-container {
        width: 68%;

    }
}

/*Custom Fonts Import*/
@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/CyberwayRiders-lg97d.ttf') format('truetype');

}

/*Keyframes-Animations*/
 @keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(60, 192, 240);    }
}