#first-body {
    background-color: #3bb278;
}

#outer-form-container {
    align-content: center;
}

#inner-form {}

#log-in-form {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
}

#form-button {
    width: 100%;
}

.signup {
    color: #ffffff;
}

.robot-png {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.robot-container {
    margin: auto;
    width: 50%;
}

.introduction {
    text-align: left;
    padding: 10px;
    color: #ffffff;
    margin: auto;
    width: 80%;
}