.btn-outline-danger {
    margin-left: .5rem;
}

.navbar-brand {
    font-family: 'CustomFont';
    font-size: 20px;
}

.navbar-brand span {
    color: rgb(11, 139, 90);
    font-size: 25px;
}

/*Custom Fonts Import*/
@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/CyberwayRiders-lg97d.ttf') format('truetype');

}